[Match]
Name=eth2

[Link]
RequiredForOnline=no
ActivationPolicy=up

[Network]
Bridge=br-lan
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes
LinkLocalAddressing=no
IPv6AcceptRA=no
