[Match]
Name=lte4g

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
IPv6AcceptRA=yes
LinkLocalAddressing=ipv6

[DHCPv4]
UseDNS=no
UseRoutes=no
RouteMetric=900

[IPv6AcceptRA]
UseDNS=no
RouteMetric=900

[DHCPv6]
UseDNS=no
WithoutRA=solicit
