ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2ecc", ATTR{idProduct}=="3012", TAG+="systemd", ENV{SYSTEMD_WANTS}+="easepi-r2-ml307r-option-bind.service"
